body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("color.png");
    background-repeat: repeat-y;
    background-size: 50% auto;
    background-position: right;
}


.w_1{
  margin-top: 73%;
  margin-right: 10%;
  margin-bottom: 10%;
}
.sub_w_1{
  margin-bottom: 5%;
}

#warning{
  margin-top: 5%;
}

.w_2{
  margin-top: 75%;
  margin-left: 10%;
  color: white;
}


input[type=text]{
  width: 50%;
  height: 32px;
  margin-top: 2%;
  color: black;
}

@media only screen and (max-width: 840px){
  body{
    /* background-color: white; */
    /* background-image: url("rectangle.png"); */
    background-position: top;
    background-repeat: repeat-x;
    background-size: 50% auto;
  }

  .w_1{
    margin-top: 25%;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }

  .w_2{
    color: black;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (max-height: 435px) {
  .w_1{
    margin-top: 23%;
  }

  .w_2{
    margin-top: 25%;
  }
}

@media only screen and (height: 1366px) and (width: 1024px){
  .w_1{
    margin-top: 50%;
    height: 100px;
    width: 400px;
  }

  .w_2{
    margin-top: 0%;
    height: 100px;
    width: 350px;
    margin-left: 59%;
    margin-top: -19%;
  }
}
