{% extends "website.html" %}
  {% block content %}

  <p>Based on the classes you've provided:</p>
  <br>
  {{input}}
  <br>
  <p>These are your majors!!!</p>

  {% if is_list == True %}
    {% for i in options %}
      <a href="{{options[i]}}" target="_blank"><li>{{i}}</li></a>
    {% endfor %}
  {% else %}
    <p>{{options}}</p>
  {% endif %}

  <br>
  <br>

  <hr width="100%" size="1" align="center" color="black">

  <p>Requirements were not possible to collect from the following majors,
    but should be checked out:</p>

    <ul>
      <a href="https://lsa.umich.edu/lsa/academics/majors-minors/middle-east-studies-major.html"
        target="_blank"> <li>General Studies (Major)</li></a>
      <a href="https://lsa.umich.edu/lsa/academics/majors-minors/history-of-art-major.html"
        target="_blank"> <li>History of Art (Major)</li></a>
      <a href="https://lsa.umich.edu/lsa/academics/majors-minors/history-of-art-major.html"
        target="_blank"> <li>Middle East Studies (Major) </li></a>
    </ul>

  {% endblock %}
