<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Alternate Pathways</title>
</head>
  <body>
    {% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='website.css')}}">
    <div class="container">
      <div class="row">



        <div class="col-lg-6">
            <div class="w_1">
              <div class="sub_w_1">
                <h1 class="display-4">Alternate Pathways</h1>
                <div class="form-group">
                  <form class="classes_field" action="majors" method="post">
                    <input type="text" name="classes_input" placeholder="Ex: EECS 203, AAS 309">
                    <input type="submit" class="btn btn-info" value="Submit">
                  </form>
                </div>
              </div>
              <p id="warning"> *The recommended majors are rough suggestions for possible majors. Your
                classes may have matched with a major's requirement but it does not mean
                you have fulfilled all of a major's required classes.
              </p>
          </div>
        </div>

        <div class="col-lg-6">
            <div class="w_2">
            <h3 class="display-4">Considering an alternate major?</h5>
            <p class="lead">The Alternate Pathways tool will suggest majors based on completed classes</p>
          </div>
        </div>

      </div>
    </div>
    {% endblock %}
  </body>
</html>
